* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; // 16 * .625 = 10 (base 10)
}

body {
	color: $dark-grey;
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size; //16px
	line-height: 1.6;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
}